<section>
	<div class="wrapper">
		<ul class='img-list'>
<% @images.each do |i|%>
	<li><%=link_to (image_tag i.picture.url('medium')), "/images/#{i.id}"%>
		<h4><%= i.impressionist_count %> views</h4></li>
	<%end %>
	</ul>
	</div>
	</section>